[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "home/.vim/bundle/supertab"]
	path = home/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "home/.vim/bundle/vim-airline"]
	path = home/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "home/.vim/bundle/CRDispatcher"]
	path = home/.vim/bundle/CRDispatcher
	url = https://github.com/coot/CRDispatcher.git
[submodule "home/.vim/bundle/enchantedvim"]
	path = home/.vim/bundle/enchantedvim
	url = https://github.com/coot/enchantedvim.git
[submodule "home/.vim/bundle/vim-windowswap"]
	path = home/.vim/bundle/vim-windowswap
	url = https://github.com/wesQ3/vim-windowswap.git
[submodule "home/.vim/bundle/php.vim"]
	path = home/.vim/bundle/php.vim
	url = https://github.com/StanAngeloff/php.vim.git
[submodule "home/.vim/bundle/PHP-Indenting-for-VIm"]
	path = home/.vim/bundle/PHP-Indenting-for-VIm
	url = https://github.com/2072/PHP-Indenting-for-VIm.git
[submodule "home/.vim/bundle/ag.vim"]
	path = home/.vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
